# Configuración General del Entorno Django
DEBUG=True
SECRET_KEY=django-insecure-sgr-eval2-secret-key-change-in-production
ALLOWED_HOSTS=127.0.0.1,localhost

# Configuración de Base de Datos
# Opciones para DB_ENGINE: sqlite3 (por defecto para entorno de pruebas/laboratorio) o mysql
DB_ENGINE=sqlite3

# Parámetros para MySQL (utilizados únicamente si DB_ENGINE=mysql)
DB_NAME=sgr_municipal
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
